body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d33838;
  color: rgb(245, 236, 235);
  padding: 1rem 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  max-height: 50px;
  margin-right: 10px; /* Adjust this value as needed */
}

.heading-container {
  flex: 2;
}

.heading-container h1 {
  margin: 0;
  font-size: 1.5rem;
}

.nav-container {
  flex: 1;
  text-align: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: rgb(248, 237, 235);
  font-size: 1rem;
}

nav ul li a:hover {
  color: #f9f7f7;
}

.hero {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #fff3e0;
}

.slideshow-container {
  width: 100%;
  height: 70vh;
  position: relative;
  margin: auto;
}

.slideshow-container img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.hero-image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

h2 {
  margin-top: 1rem;
  font-size: 2rem;
  color: #333;
}

pre {
  font-size: 1.2rem;
  color: #524c4e;
}

button {
  background-color: #d33838;
  color: rgb(239, 252, 239);
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}

button:hover {
  background-color: #fa3069;
}

.about {
  background-color: #f4f4f4;
  padding: 2rem 1rem;
  text-align: center;
}

footer {
  background-color: #d33838;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #f6ebee;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.flex-item {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: 25%; /* Reduced the width from 30% to 25% */
  text-align: center;
  transition: transform 0.3s ease;
}

.flex-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.flex-item:hover {
  transform: scale(1.05);
}

.flex-item:hover img {
  transform: scale(1.1);
}
